<div class="card mt-3">
  <div class="card-header text-center h4 p-2 primary-background secondary-color">Subscribe</div>
  <div class="card-body bg-dark">
    <form>
      <div class="row">
        <div class="col-sm-6" (click)="subscribeSuccessAlert()">
          <input type="text" class="form-control-sm form-control" placeholder="Firstname" name="Firstname" />
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control-sm form-control" placeholder="Lastname" name="Lastname" />
        </div>
      </div>
    </form>
  </div>
</div>
