<div
  class="sidemenu-container"
  [ngStyle]="{ width: activeMenu === 'activeMenu' ? '100%' : '0' }"
  (click)="OpenCloseMenu('Close')"
>
  <div class="sidemenu {{ activeMenu }}">
    <a class="closebtn t-c">&times;</a>
    <div class="menu-card">
      <div class="profile-img-card">
        <div class="profile-img"></div>
      </div>
      <div class="name-card t-c b">Roger Ndaba</div>
    </div>
  </div>
</div>

<div style="font-size:40px;cursor:pointer" (click)="OpenCloseMenu('Open')">
  &#9776;
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
