<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand secondary-color-hov" style="cursor: pointer;" (click)="OpenCloseMenu('Open')">&#9776;</a>
  <a [routerLink]="['/subscribe']" class="my-lg-0">
    <button class="btn p-1 secondary-color primary-border" type="submit">Subscribe</button>
  </a>
</nav>
<div *ngIf="successMsg" class="alert alert-success text-center p-1">{{ successMsg }}</div>
<div *ngIf="failureMsg" class="alert alert-danger text-center p-1">{{ failureMsg }}</div>
<div class="sidemenu secondary-color {{ activeMenu }}">
  <a class="closebtn link" (click)="OpenCloseMenu('Close')">&times;</a>
  <div class="menu-card pt-5">
    <div class="profile-img-card">
      <div class="profile-img"></div>
    </div>
    <p class="font-weight-bold m-2">Roger Ndaba</p>
    <p><em>Software Engineer</em></p>
  </div>
</div>
<div
  class="sidemenu-container"
  [ngStyle]="{ width: activeMenu === 'activeMenu' ? '100%' : '0' }"
  (click)="OpenCloseMenu('Close')"
></div>

<div class="container">
  <router-outlet> </router-outlet>
</div>
