.primary-color {
  color: #d35ed3 !important;
}

.secondary-color {
  color: #e6e6e6 !important;
}

.primary-background {
  background-color: #d35ed3 !important;
}

.secondary-background {
  background-color: #e6e6e6 !important;
}

.secondary-color-hov {
  color: #e6e6e6 !important;
}

.secondary-color-hov:hover {
  color: #d35ed3 !important;
}

.link:hover {
  color: #d35ed3 !important;
}

.primary-border {
  border: 1px solid #e6e6e6 !important;
}

.primary-border:hover {
  color: #d35ed3 !important;
  border: 1px solid #d35ed3 !important;
}
